* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}

.app {
  display: grid;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.time-select {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  float: left;
  background: #cca685;
}

.time-select button {
  color: #fdfdfd;
  background: none;
  width: 148px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  transition: all 0.4s;
  margin-top: 0;
  padding: 20px 13px;
}

.time-select button:hover {
  color: #333;
  background: #fdfdfd;
}

.sound-picker {
  background: #cca685;
  margin-top: 0;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100vw;
  bottom: 0;
  padding: 10px;
}

.sound-picker button {
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.sound-picker button:nth-child(1) {
  background: none;
}

.sound-picker button:nth-child(2) {
  background: none;
}

.sound-picker button img {
  height: 100%;
}

.sound-picker button:hover {
  transform: scale(1.5);
}

.player-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  top: 0;
  background: url(./svg/time.svg) no-repeat center center;
  float: left;
}

.player-container svg {
  position: absolute;
  left: 51%;
  top: 58%;
  height: 30vh;
  transform: translate(-50%, -50%) rotate(-90deg);
  pointer-events: none;
  float: left;
}

.play {
  position: relative;
  bottom: 33%;
  left: 1%;
  width: 6vw;
}

.time-display {
  position: absolute;
  left: 46%;
  top: 28%;
  color: #8f7966;
  font-size: 60px;
  clear: both;
}
